<!--chat layout -->
<div class="pc-tab col-md-9">
  <input checked="checked" id="tab1" type="radio" name="pct" />
  <input id="tab2" type="radio" name="pct" />
  <nav>
    <ul>
      <li class="tab1">
        <label for="tab1">Online</label>
      </li>
      <li class="tab2">
        <label for="tab2" id="tab2">Messages</label>
      </li>
    </ul>
  </nav>

  <section>
    <!-- users online -->
    <div class="tab1 radiochat container-fluid" data-current-user="<%= current_user.name %>">
      <!-- chat controls -->
      <div class="chat-ctrls my-0 d-flex justify-content-end">
        <h6 class="mr-auto mt-2">Users online</h6>
        <span class="roll_up mr-2">&nbsp;&nbsp;&nbsp;</span>
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ul class="users-online list-group list-group-flush" data-turbolinks-permanent>
        <% @users_online.each do |user| %>
          <!-- user from "u_ol" hash -->
          <li class="list-group-item">
            <a href="#">
              <div class="d-flex flex-row">
                <div class="avatar mr-2">MH</div><span class="my-auto"><%= user %></span>
              </div>
            </a>
          </li>
        <% end %>
      </ul>

    </div>
    <!-- chat body -->
    <div class="tab2 radiochat container-fluid" id="radiochat">
      <!-- chat controls -->
      <div class="chat-ctrls my-0 d-flex justify-content-end">
        <span class="roll_up mr-3">&nbsp;&nbsp;&nbsp;</span>
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% @messages.each do |message| %>
        <% if message.user.name != current_user.name %>
        <!-------- LEFT MESSAGE ------------------------>
          <div class="row left d-flex flex-row">
            <div class="wrapper d-flex mx-2">
              <div class="left-avatar align-self-center">WM</div>
            </div>
            <div class="text w-75">
              <h4><%= message.user.name %></h4>
              <div class="status online"></div>
              <p class="msg-text">
                <%= message.body %>
              </p>
            </div>
          </div>
        <% else %>
        <!-----------       RIGHT MESSAGE    ---------------->
        <div class="row right d-flex justify-content-end">
          <div class="text w-75 text-right">
            <h4><%= message.user.name %></h4>
            <p class="msg-text">
              <%= message.body %>
            </p>
          </div>
          <div class="wrapper d-flex mx-2">
            <div class="right-avatar align-self-center" style="border-color: #eed610;">RW</div>
          </div>
          <div class="col-2 col-sm-4"></div>
        </div>
        <% end %>
      <% end %>
      <!-- empty message (strip) -->
      <div class="strip w-100"></div>
      <!-------------------- MESSAGE INPUT --------->
      <div class="w-100 msg-input">
        
        <form class="chat-msg" action="#" method="post">
          <div class="input-group">
          <!------------------    INPUT TEXTAREA                      ------------------>
            <input type="text" class='form-control message-input' %>
              
            <div class="input-group-append">
              <button class="btn send-button" type="button">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>