<!-- News cards --->
 <div class="container">
    <div class="news row mt-4">
      <div class="news-card col-12 col-md-4" >
        <div class="news-img">
          <%= image_tag 'architect-1.jpg', loading: 'lazy', alt: 'news' %>
        </div>
        <div class="news-body">
        <h3 class="text-center">New architectural designs</h3>
        <p class="news-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil fugit possimus et id eligendi aliquam nostrum impedit distinctio praesentium, </p>
        </div>
      </div>
      <div class="news-card col-12 col-md-4" >
        <div class="news-img">
          <%= image_tag 'architect-2.jpg', loading: 'lazy', alt: 'news' %>
        </div>
        <div class="news-body">
          <h3 class="text-center">Norwegian expression of the day: Det skulle bare mangle </h3>
          <p class="news-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil fugit possimus et id eligendi aliquam nostrum impedit distinctio praesentium</p>
        </div>
      </div>
      <div class="news-card col-12 col-md-4" >
        <div class="news-img">
          <%= image_tag 'bird.jpg', loading: 'lazy', alt: 'news' %>
        </div>
        <div class="news-body">
          <h3 class="text-center">Away from it all: Pure adventure cruising around Chilean Patagonia</h3>
          <p class="news-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil fugit possimus et</p>
        </div>
      </div>
    </div>
        
    <div class="news row mt-4">
      <div class="news-card col-12 col-md-4" >
        <div class="news-img">
          <%= image_tag 'deers.jpg', loading: 'lazy', alt: 'news' %> 
        </div>
        <div class="news-body">
        <h3 class="text-center">Winter Hike in Yosemite Valley </h3>
        <p class="news-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil fugit possimus et id eligendi aliquam nostrum impedit distinctio praesentium, facere, enim, nulla ut quibusdam porro repellat sequi commodi voluptates rerum.</p>
        </div>
      </div>
      <div class="news-card col-12 col-md-4" >
        <div class="news-img">
          <%= image_tag 'koala-1.png', loading: 'lazy', alt: 'news' %>
        </div>
        <div class="news-body">
        <h3 class="text-center">Triumph the new koala who was born in Tokyo zoo</h3>
        <p class="news-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil fugit possimus et id eligendi aliquam nostrum impedit </p>
        </div>
      </div>
      <div class="news-card col-12 col-md-4" >
        <div class="news-img">
          <%= image_tag 'koala-5.jpg', loading: 'lazy', alt: 'news' %>
        </div>
        <div class="news-body">
          <h3 class="text-center">Koalas: Australia lists marsupial as endangered species</h3>
          <p class="news-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil fugit possimus et id eligendi aliquam nostrum impedit </p>
        </div>
      </div>
    </div>
  </div>