<% provide(:title, "Main") %>
<!-- chat and chat sidebar -->
<div class="container-fluid mb-3 home-container">

    <% if logged_in? %>
      <!-- Радиочат -->
      <%= render 'static_pages/chat.html.erb' %>
    <% else %>
    <div class="container">
      <div class="header row d-flex justify-content-center align-items-center">
        <h2 class="px-5 col-10 col-lg-6 text-center">
          Welcome to the first interactive radio. Activate chat to participate in
          discussion.
        </h2>
        <div class="col-12 d-flex justify-content-center" >
          <%= link_to "Activate chat", login_path, class: "activate" %> 
        </div>
      </div>
    </div>
    <% end %>
    <!-------------- NEWS CARDS --------------->
    <%= render 'static_pages/newscards.html.erb' %>

</div>
