<% provide(:title, "Sign in") %>
<div class="auth container">
  <h1 class="mt-4">Log in</h1>
  <div class="row justify-content-center">
    <div class="col-10 col-md-5 mx-auto">
      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control auth-input', value: 'guest@mail.co' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control auth-input', value: 'password' %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Remember me</span>
        <% end %>

        <div class="row justify-content-center mt-3">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="row justify-content-center mt-2">
        <p><small>New user? <%= link_to "Sign up", signup_path %></small></p>

      </div>
    </div>
  </div>
</div>
