<% provide(:title, 'Sign up') %>

<div class="auth container pt-4 mt-3">

  <h1 class="mt-4">Create new account</h1>

  <div class="row justify-content-center">
    <div class="col-10 col-md-5 mx-auto">
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control auth-input' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control auth-input' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control auth-input' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control auth-input' %>

        <div class="row justify-content-center my-3">
          <%= f.submit "Sign up", class: "btn btn-primary mt-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
