/* responsive | you can change the max-width value to match your theme */
.audioplayer {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	margin: 3.5rem 0;
	padding: 0 24px;
	width: 100%;
	height: 80px;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 4px;
	color: white;
	background: rgb(31, 28, 28);/*#343a40;*/
	&:not(.audioplayer-playing) {
		.audioplayer-playpause {
			background: rgba(91, 130, 255, 0);
			border: 1px solid #EED610;
			&:hover {
				background: rgba(91, 130, 255, 0.1);
			}
			a {
				content: '';
				justify-content: center;
				width: 0;
				height: 0;
				margin-left: 2px;
				border-top: 7px solid transparent;
				border-right: none;
				border-bottom: 7px solid transparent;
				border-left: 12px solid #EED610;
			}
		}
		.audioplayer-bar-played {
			&::after {
				border: 2px solid #EED610;;
			}
		}
	}
	&:not(.audioplayer-mute) {
		.audioplayer-volume-button {
			a {
				&:after {
					left: 10px;
					top: -2px;
					width: 6px;
					height: 6px;
					border: 6px double #EECA07;;
					border-width: 6px 6px 0 0;
					border-radius: 0 12px 0 0;
					transform: rotate(45deg);
				}
			}
		}
	}
}

.audioplayer-playpause {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	cursor: pointer;
	transition: all .2s ease-in-out;
}
.audioplayer-playing {
	.audioplayer-playpause {
		background: rgba(253, 79, 26, 0);
		border: 1px solid #FD4F1A;
		&:hover {
			background: rgba(235, 79, 26, 0.1);
		}
		a {
			content: '';
			display: flex;
			justify-content: space-between;
			width: 12px;
			height: 14px;
			&::before {
				content: '';
				width: 4px;
				height: 14px;
				background-color: #FD4F1A;
			}
			&::after {
				content: '';
				width: 4px;
				height: 14px;
				background-color: #FD4F1A;
			}
		}
	}
	.audioplayer-bar-played {
		&::after {
			border: 2px solid #0059FF;
		}
	}
}
.audioplayer-time {
	display: flex;
	width: 40px;
	justify-content: center;
	font-size: 12px;
	color: rgba(51, 51 ,51, .6);
}
.audioplayer-time-current {
	margin-left: 24px;
}
.audioplayer-time-duration {
	margin-right: 24px;
}
.audioplayer-bar {
	position: relative;
	display: flex;
	margin: 0 12px;
	height: 12px;
	flex-basis: 0;
	flex-grow: 1;
	cursor: pointer;
	&::before {
		content: '';
		position: absolute;
		top: 5px;
		width: 100%;
		height: 2px;
		background-color: #EED610;
	}
	>div {
		position: absolute;
		left: 0;
		top: 5px;
	}
}
.audioplayer-bar-loaded {
	z-index: 1;
	height: 2px;
	background: #EED610;
}
.audioplayer-bar-played {
	flex-direction: row-reverse;
	z-index: 2;
	height: 2px;
	background: -webkit-linear-gradient(left,#3a043f,#9C2BA6);
	&::after {
		display: flex;
		position: absolute;
		content: '';
		box-sizing: border-box;
		top: -5px;
		right: -1px;
		margin-right: -5px;
		width: 12px;
		height: 12px;
		background-color: #EED610;
		border-radius: 6px;
	}
}
.audioplayer-volume {
	display: flex;
	align-items: center;
}
.audioplayer-volume-button {
	display: flex;
	align-items: center;
	width: 24px;
	height: 24px;
	cursor: pointer;
	a {
		display: flex;
		width: 6px;
		height: 8px;
		background-color: #EED610;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-top: 8px solid transparent;
			border-right: 9px solid #EED610;
			border-bottom: 8px solid transparent;
			border-left: none;
			top: -4px;
		}
		&:after {
			content: '';
			position: absolute;
		}
	}
}
.audioplayer-mute {
	.audioplayer-volume-button {
		a {
			background-color: #FD4F1A;
			&:before {
				border-right: 9px solid #FD4F1A;
			}
		}
	}
}
.audioplayer-volume-adjust {
	display: flex;
	align-items: center;
	margin-left: 8px;
	>div {
		position: relative;
		display: flex;
		width: 60px;
		height: 2px;
		cursor: pointer;
		background-color: #9C2BA6;;
	}
	div {
		div {
			position: absolute;
			top: 0;
			left: 0;
			height: 2px;
			background-color:#EED610; /* #DDE2E6; */
		}
	}
}
@media screen and (max-width: 679px) {
	.audioplayer-volume-adjust {
		display: none;
	}
}
