/* Component Needs */
.pc-tab > input,
.pc-tab section > div {
  display: none;
}
#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2 {
  display: block;
}
/* Visual Styles */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-weight: 100;
  font-size: 60px;
  color: #e74c3c;
}
.pc-tab {
  width: 100%;
  max-width: 700px;
  margin: 4rem auto;
  overflow: hidden;
}
.pc-tab ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pc-tab li label {
  float: left;
  display: block;
  margin-bottom: 0;
  padding: 15px 25px;
  border-bottom: 0;
  background: #010311;
  color: #056b38;
}
.pc-tab li label:hover {
  background-color: #03061b;
}
.pc-tab li:not(:last-child) label {
  border-right-width: 0;
}
.pc-tab section {
  clear: both;
  position: relative;
}
.pc-tab section > div {
  padding: 5px 20px 20px;
  height: calc(100vh - 200px);
  overflow: hidden;
  width: 100%;
  background-color: #010311;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  color: #444;
}
.pc-tab section div h2 {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 20px;
  letter-spacing: 1px;
  color: #34495e;
}
#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label{
  background: #010311;
  color: #4bec9c;
  position: relative;
  border: 1px solid #1c2e35;
  border-bottom: transparent;
}
#tab1:checked ~ nav .tab1 label:after,
#tab2:checked ~ nav .tab2 label:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -1px;
}
.roll_up {
  cursor: pointer;
  border-bottom: 3px solid black;
  position: relative;
  bottom: 8px;
  opacity: 0.5;
}
.roll_up:hover {
  opacity: 1;
}
/* chat users */
.tab1 h6 {
  color: #b0b0b0;
}
.tab1 .chat-ctrls span {
  bottom: 15px;
}
.chat-ctrls h6 {
  color: #c7b417;
}
.list-group li{
  background: transparent;
}
.list-group a {
  color: #4bec9c;
  text-decoration: none;
}
.list-group span:hover {
  color: #41c784;
}
/* chat body */

.text {
  position: relative;
  padding: 10px 15px;
  color: #41c784;
  border-radius: 8px 8px 8px 8px;
  box-sizing: border-box;
  border: 1px solid #41c784;
  margin: 15px 0 3px;
}
.reply-msg {
  border-left: 3px solid pink;
  padding: 5px 10px 0;
}
.reply-msg p {
  overflow: hidden;
  height: 1.5rem;

}
.text h4,
.text .status {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
}

.text .status {
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.text .status.online {
  background-color: #14a435;
  box-shadow: 0px 0px 8px #a7faba;
}

.text .status.offline {
  background-color: #e35d05;
  box-shadow: 0px 0px 8px #f8a662;
}


/* right */
.right .text-right {
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #eed610;
  color: #eed610;
}
.avatar, .left-avatar {
  height: 6vw;
  width: 6vw;
  min-width: 28px;
  min-height: 28px;
  max-height: 58px;
  max-width: 58px;
  border-radius: 50%;
  border: 1px solid #4bec9c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: #4bec9c;
  overflow: hidden;
}
.right-avatar {
  height: 6vw;
  width: 6vw;
  min-width: 28px;
  min-height: 28px;
  max-height: 58px;
  max-width: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #eed610;
  font-size: 0.8rem;
  color: #eed610;
}

/* message input */
.strip {
  height: 13vh;
}
.msg-input {
  border: 2px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color:#0000ff;
  
.msg-input .reply-attachment {
  display: none;
  margin: 0;
  padding: 0 10px;
  border-left: 3px solid pink;
  width: 90%;
  background-color: #011637;
}
.msg-input .reply-attachment p {
  margin: 0;
  height: 1.5rem;
  overflow: hidden;
  color: #ae684b;
}
.msg-input .reply-attachment button {
  color: #66c;
}
.msg-input .reply-attachment h6 {
  color: #716c6c;
}

.input-group-text i {
  transform: rotate(43deg);
}
.input-group-text:hover {
  color: #7ec8e3;
}
/* message text input  */
.message-input {
  background-color: #010311;
  color: #7ec8e3 !important;
}
}
.message-input:focus {
  background-color: #010311;
}
.msg-input .btn {
  color: #7ec8e3 !important;
}
.msg-input .btn:hover {
  background-color: #126988 !important;
}
/* chat sidebar */
.chat-sidebar {
  height: calc(100vh - 150px);
  background-color: pink;
  border: 1px solid grey;
  box-sizing: border-box;
}
