.home-container {
  margin: 0 !important;
  padding: 0 !important;
}
body {
  background-color: #050a30;
  font-family: 'Poppins', 'Roboto', sans-serif !important;
  padding-top: 50px;
  color: #7ec8e3 !important;
}
.navbar {
  background-color: #e3f2fd;
  font-weight: 600;
}
@include media-breakpoint-up(md) {
  .navbar {
    height: 80px;
  }

}
.navbar-brand {
  font-weight: 900;
}
/* HEADER BAR */
div.header {
  padding: 2.5rem 0 0 0;
  height: 100%;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);  
}
.header h2 {
  font-size: 1rem !important;
  line-height: 1.5rem;
}
.activate {
  font-size: 0.8rem !important;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid   #c0dcf9;
  color:  #c0dcf9;
  font-weight: 600;
  margin: 0.5rem 0 2rem 0;
  padding: 12px 10px;
}
.activate:hover {
  background-color: #c0dcf9;
  color: #325476;
  text-decoration: none;
}
@include media-breakpoint-up(md) {
  div.header {
    padding: 0 0 1rem 0;
  }
  .header h2 {
    font-size: 1.7rem !important;
    line-height: 2.1rem;
  }
  .activate {
    margin-top: 1.7rem;
    font-size: 1.4rem !important;
  }
}
/* NEWS */
.news-card {
  margin-top: 0.7rem;
}
.news h3 {
  font-size: 1.1rem !important;
  font-weight: 600;
  margin-top: 0.5rem;
}
.news-img {
  width: 90%;
  margin: 0 auto !important;
  overflow: hidden;
  height: 9rem;
  display: flex;
  justify-content: center;
}
.news img {
  width: auto;
  height: 100%;
}
.news-body {
  margin-top: 1rem;
}
.news-body:hover {
  text-decoration: underline;
  cursor: pointer;
}
@include media-breakpoint-up(md) {
  .news-img {
    height: 15rem;
  }
  .news-body {
    width: 90%;
    margin: 1.7rem auto 0 auto;
  }
}

/* AUDIOPLAYER */
.audioplayer {
  margin: 0;
}
@include media-breakpoint-up(md) {
  .audioplayer {
    position: fixed;
    top: 0;
    width: 40vw;
    left: 30vw;
		margin: 0;
    min-width: 355px;
    z-index: 1030;
  }
}
.header h2 {
  margin-top: 3rem;
  color: #c0dcf9;
}
@include media-breakpoint-up(md) {
  .header h2 {
    margin-top: 5rem;
  }
}
div.container{
  max-width: 100% !important;
  background-size: 100%;
}

input, textarea {
  margin-bottom: 15px;
}

form label {
  margin-top: 10px;
}
div.content-wrapper {
  min-height: calc(100vh );
  padding: 0;
}
// page content
/* chat sidebar */
.chat-sidebar {
  height: calc(100vh - 150px);
  background-color: pink;
  border: 1px solid grey;
  box-sizing: border-box;
}
.bottomRadioHolder {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0;
}
// footer
footer {
  background-color: #000c66;
  width: 100%;
  padding: 0.5rem 1rem 4rem 1rem;
  color: #c0dcf9;
  font-weight: 600;
  height: 167px;
}
footer small {
  font-weight: 600;
  margin: 0.3rem 1rem;
}
foter a:hover {
  text-decoration: none;
}

/* forms */
#error_explanation {
  color: red;
  ul {
    color: red;
  }
}
.field_with_errors {
  .form-control {
    color: red;
  }
}
svg {
  height: 2rem;
}
/* SIGNUP PAGE*/
.auth h1 {
  color: #eed610;
  font-size: 1.3rem;
}
.auth-input {
  background-color: #7ec8e3;
  color: black !important; 
}
.auth-input:focus {
  background-color: #7ec8e3;
}