<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | APM radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%# Styles %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'     %>
    <%# Fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Rajdhani:wght@400;500;600;700&family=Titillium+Web:wght@300;400;700;900&display=swap" rel="stylesheet"> 
    <%# JavaScript %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container content-wrapper">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
     <div class="bottomRadioHolder"></div>
      <%# <%= debug(params) if Rails.env.development? %>
  </body>
</html>
